/* Root Styles */
* {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #373E40;
    --secondary-color: #F1D302;
    --tertiary-color: #848FA5;
    --white: #FFFF;
}

/* HEADER STYLES */

header {
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    justify-content: space-between;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding-left: 10px;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 18px;
}

/* putting nav elements inline */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 1.55vw;
}
/* END OF HEADER STYLES */

/* HERO STYLES */
.hero {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--tertiary-color);
}

.hero image {
    margin: 20px 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.hero img { 
    margin: 15px;
    float: left;
    width: 100%;
    border: solid 5px var(--secondary-color);
    border-radius: 15px;
}

/* END OF HERO STYLES */

/* BIO STYLES */

.bio {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--secondary-color);
    border-top: var(--primary-color) 5px solid;
    border-bottom: var(--primary-color) 5px solid;
}

.bio img {
    margin: 20px 0;
    border: var(--primary-color) 5px solid;
    border-radius: 15px;
    color: var(--primary-color);
}

.bio bio-text{
    display: flex;
    flex-wrap: wrap;
}

.bio h1 {
    text-align: center;
    margin:20px;
}

.bio p {
    margin: 10px auto;
    text-align: center;
    border: solid 3px var(--primary-color);
    border-radius: 15px;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
}

/* End OF BIO STYLE */

/* PORTFOLIO STYLES */

.portfolio {
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    background-color: var(--primary-color);
    align-items: center;
}

.portfolio h2 {
    text-align: center;
    background-color: var(--secondary-color);
    border: var(--primary-color) 3px solid;
    border-radius: 15px;
    padding: 5px;
}

.project {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio img {
    border-radius: 15px;
    border: solid var(--secondary-color) 5px;
    margin: 10px;
}